@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

/*
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
*/

*{
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,body{
  height: 100%;
}

body{
  display: flex;
  background-color: rgb(189, 204, 255);
}

body section{
  height: 100%;
  position: relative;
}
.container1{
  /* flex: 1; */
  width: 18%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(9, 24, 59);
  color: white;
  box-shadow: 0px 2px 10px 0px black;
  z-index: 10;
}
.container2{
  margin-left: 18%;
  overflow-y: scroll;
  width: 100%;
  padding: 0 3%;
  display: flex;
  /* flex-direction: column; */
}
/* .container2 div{
  border: 1px solid red;
  height: 100%;
} */

.user-pic{
  padding: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.image-container{
  position: relative;
  height: 150px;
  width: 150px;
  border: 1px solid white;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#user-img{
  position: absolute;
  width: 150px;
}

.u-name,.u-bio,.u-hobbies,.u-skills{
  width: 107%;
  border-radius: 0px 50px 50px 0px;
  text-align: center;
  padding: 5px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 1px 2px black;
  position: relative;
  cursor: pointer;
  z-index: 5;
}
.uh:hover{
  background-color: rgba(98, 0, 0, 0.2);
}
.u-name::before,
.u-bio::before,
.u-hobbies::before,
.u-skills::before{
  content: '';
  height: 3px;
  width: 93%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0px 300px 0px 0px;
}

.u-name{
  background-color: rgb(50, 138, 146);
}
.u-name::before{
  background-color: rgb(37, 101, 107);
}
.u-name h6{
  font-style: italic;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* .u-name-1{
  padding: 5px;
} */
.u-name-1 h6{
  padding: 5px;
  padding-left: 15%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: linear-gradient(rgb(159, 185, 255),rgb(138, 183, 255));
  color: rgb(41, 41, 41);
}

.u-bio{
  background-color: rgb(248, 195, 19);
}
.u-bio::before{
  background-color: rgb(177, 139, 14);
}
.u-bio-1 p{
  text-align: center;
  font-size: 0.8em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 7px;
  background-image: linear-gradient(rgb(240, 240, 240),rgb(219, 216, 216));
  color: black;
}

.u-hobbies{
  background-color: rgb(92, 124, 29);
}
.u-hobbies::before{
  background-color: rgb(63, 85, 19);
}
.u-hobbies-1{
  background-color: rgb(216, 215, 215);
  /* height: auto; */
  overflow: hidden;
  transition: .5s all ease-in-out;
}
.u-hobbies-1.close{
  height: 0;
  transition: .5s all ease-in-out;
}
.u-hobbies-1 ul li{
  padding: 3px;
  color: rgb(46, 46, 46);
}

.u-skills{
  background-color: rgb(170, 49, 28);
}
.u-skills::before{
  background-color: rgb(117, 33, 18);
}
.u-skills-1{
  background-color: rgb(216, 215, 215);
  /* height: auto; */
  overflow: hidden;
  transition: .5s all ease-in-out;
}
.u-skills-1.close{
  height: 0;
  transition: .5s all ease-in-out;
}
.u-skills-1 ul li{
  padding: 3px;
  color: rgb(46, 46, 46);
}



.main-container{
  flex: 2.5;
  padding: 5px 10px;
  overflow-y: scroll;
  position: relative;
}
.nav{
  height: 23px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 7px 7px 0px 0px;
  background-color: rgb(9, 24, 59);
  color: white;
  width: 99.8%;
  z-index: 10;
  transition: .3s all ease-in-out;
}
.nav:hover{
  height: 50px;
  transition: .3s all ease-in-out;
}
.nav a{
  text-decoration: none;
  color: white;
}
/* COPPIED NAVIIIIIIIIIIII */
header{
  margin-top: 0;
  margin-left: -60px;
  display: flex;
  justify-content: center;
  transition: .3s all ease-in-out;
}
.nav:hover header{
  margin-top: 10px;
  margin-left: 0;
  transition: .3s all ease-in-out;
}
.main-menu{
  width: 50%;
  position: relative;
  display: grid;
  grid-template-columns: 2fr 2fr;
}
.main-menu div{
  position: relative;
}
.m-m-1,.m-m-3{
  border-bottom: 1px solid gray;
  height: 25px;
  border-radius: 0px 0px 0px 0px;
  transition: .3s all ease-in-out;
}

.nav:hover .m-m-1{
  border-bottom: 3px solid gray;
  border-radius: 0 0 0 50%;
  transition: .3s all ease-in-out;
}
.nav:hover .m-m-3{
  border-bottom: 3px solid gray;
  border-radius: 0 0 50% 0;
  transition: .3s all ease-in-out;
}
#m-profile{
  text-decoration: none;
  color: #aaa;
  font-size: 1.4em;
  position: absolute;
  /* bottom: 10px; */
  display: none;
}
.nav:hover #m-profile{
  display: block;
}
#m-home{
  text-decoration: none;
  color: #aaa;
  font-size: 1.4em;
  position: absolute;
  /* bottom: 10px; */
}

#m-profile:hover,
#m-home:hover,
#m-bio:hover,
#m-logout:hover{color: white;}
#m-bio,#m-logout{
  text-decoration: none;
  color: #999;
  position: absolute;
  /* bottom: 14px; */
  font-size: 0.9em;
  display: none;
}
.nav:hover #m-bio,
.nav:hover #m-logout{
  display: block;
}

#m-profile{
  right: 20px;
}
#m-bio{
  right: 100px;
}
.m-m-2{
  display: flex;
  justify-content: center;
  z-index: 0;
}
.profile-image{
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 0px 1px 5px 5px white;
}

#m-home{
  left: 20px;
}
#m-logout{
  left: 90px;
}

.m-m-4{
  grid-area: 2 / 1 / 3/ 4;
  height: 30px;
  color: #ccc;
  padding-top: 5px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}





/* END COPPIED NAVI */

.main-container::-webkit-scrollbar{
  background-color: rgb(149, 189, 190);
  width: 0.1em;
}
/* .main-container:hover::-webkit-scrollbar{
  position: absolute;
  width: .2em;
  transition: .3s all ease-in-out;
}
.main-container:hover::-webkit-scrollbar-thumb{
  background-color: rgb(12, 21, 71);
  position: absolute;
  width: 2em;
  border-radius: 50%;
} */
.post-container,.posted{
  background-color: white;
  border-radius: 7px;
  padding: 5px;
  position: relative;
  box-shadow: 1px 1px 4px 0px black;
}
.post-container{
  background-color: rgb(226, 226, 231);
}.post-container.close{
  display: none;
}
.form1{
  width: 100%;
  padding: 10px;
}
#comment_title{
  width: 100%;
  padding: 5px;
  font-weight: bold;
  margin-bottom: -1px;
}
#comment{
  width: 100%;
  padding: 7px;
  resize: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* font-weight: bold; */
  height: auto;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 2px 5px 0px gray;
}
.post-button{
  text-align: right;
}
.post-button input[type=button]:nth-of-type(2){
  padding: 10px;
  width: 20%;
  margin-bottom: 20px;
}
.upload-btn{
  position: absolute;
}
.upload-btn input[type=button]:nth-of-type(1){
  padding: 5px;
  width: 50px;
  float: left;
}
.upload-btn h5{
  margin-top: 7px;
  float: left;
}
#photo-comment{
  float: left;
}

.posted{
  margin-top: 5px;
  padding: 10px;
}

.post-menu{
  position: absolute;
  right: 0;
}.post-menu.close{
  display: none;
}
.more{
  position: absolute;
  right: 20px;
  top: 10px;
  height: auto;
  width: 100px;
  background-color: white;
  box-shadow: 0px 0px 5px 0px black;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  transform: scale(0.01);
  border: 1px solid gray;
  z-index: 5;
}
.more a,.more form{
  padding: 5px 0;
  text-decoration: none;
  color: gray;
}

.more a:nth-of-type(even){
  background-color: #ccc;
}
.more a:hover,.more form:hover{
  background-color: rgb(114, 114, 114);
  color: #aaa;
}
.more.open{
  transform: scale(1);
  transition: .4s all ease-in-out;
}

.post-head{
  display: flex;
  padding-bottom: 2px;
}
.p-image-container{
  position: relative;
  border: 1px solid #aaa;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 4px 1px black;
  height: 50px;
  width: 50px;
  margin-left: 10px;
  border-radius: 50%;
  margin-top: 12px;
  overflow: hidden;
}
.p-image{
  /* margin-left: 10px;
  border-radius: 50%;
  margin-top: 12px; */
  position: absolute;
  width: 51px;
}
.p-name{
  margin-top: 35px;
  margin-left: 20px;
  font-family: 'Roboto', sans-serif;
  color: rgb(59, 59, 59);
  font-size: .9em;
}

.p-date .com-date,
.com-edited-date{
  position: absolute;
  top: 15px;
  right: 7%;
  color: #aaa;
  font-size: .7em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.com-edited-date{
  top: 25px;
  font-size: .5em;
}


/* .post-body{
  padding: 5px;
} */
.p-b-t{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: .9em;
  margin: 7px 5px;
}
.p-b-b{
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  font-size: .9em;
}
.c-image-container{
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  margin: 5px 0;
  overflow: hidden;
}
.c-image{
  text-align: center;
  height: 400px;
  box-shadow: 0px 0px 4px 1px black;
}





.add-container{
  flex: 1;
  /* width: 30% */
}




.message{
  position: fixed;
  width: 52%;
  z-index: 6;
  bottom: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  animation-name: messagePop;
  animation-duration: 1s;
  animation-iteration-count: initial;
}.message.close{display: none;}
.action-message{
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 10px;
  padding: 5px 20px;
  box-shadow: 0px 0px 20px 2px black;
}


/* SECTION 3***************** */


.container3{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.342);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.container3.close{
  display: none;
}
.update-container{
  border-radius: 7px;
  background-color: white;
  box-shadow: 0px 0px 10px 0px black;
  width: 50%;
  position: relative;
}
.update-container.close{
  transform: scale(0.0010);
  transition: .5s all ease-in-out;
}
.form2{
  padding: 10px;
  margin-top: 30px;
  position: relative;
}
.close-update{
  position: absolute;
  right: 0;
  border: 1px solid gray;
  border-radius: 50px;
  padding: 3px 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: tomato;
  color: white;
  box-shadow: .5px .5px 2px 0px black;
}
.close-update:hover{
  box-shadow: 1px 1px 2px 0px black;
}
#update_title{
  padding: 5px;
  width: 100%;
  border: none;
  border-bottom: 1px solid gray;
  margin-bottom: 5px;
  font-weight: bold;
}
#upload-comment{
  width: 100%;
  padding: 7px;
  resize: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* font-weight: bold; */
  height: auto;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px gray;
}

.update-image-container{
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.89);
  padding: 5px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}.update-image-container.close{
  background: transparent;
  transform: scale(0.0050);
  transition: .5s all ease-in-out;
  display: none;
}
.update-image-container img{
  height: 200px;
}

#del-img-btn{
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 2px;
}
















@keyframes messagePop{
  from{
    margin-bottom: -10%;
  }
  to{
    margin-bottom: 0%;
  }
}



@media(max-width: 500px){
  body{
    flex-direction: column;
  }
  .container1{
    position: relative;
    width: 100%;
  }
}